<div class="calendar-navigation-container">
    <CalendarNavigationModeSelection></CalendarNavigationModeSelection>
    <div class="spacer"></div>
    <CalendarNavigationPrevious></CalendarNavigationPrevious>
    <CalendarNavigationNext></CalendarNavigationNext>

</div>

@code {

}
