@using BlazorDatepicker.Store.Datepicker
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<button type="button" @onclick="ChangeViewMode" class="@ButtonClass() calendar-cell">
    @DateTime.ToString("MMM")
</button>

@code {
	[Parameter]
	public DateTime DateTime { get; set; }

	[Inject]
	public IDispatcher Dispatcher { get; set; }

	[Inject]
	private IState<DatepickerState> CalendarState { get; set; }

	private void ChangeViewMode()
	{
		DateTime myDateTime = new DateTime(DateTime.Year, DateTime.Month, CalendarState.Value.CurrentSelectedValue.Day);
		var newViewMode = CalendarViewMode.Month;
		var changeCalendarViewModeAndValueAction = new ChangeCalendarViewModeAndValueAction(newViewMode, myDateTime);
		Dispatcher.Dispatch(changeCalendarViewModeAndValueAction);
	}

	private string ButtonClass()
	{
		return DateTime.Now.Year == DateTime.Year && DateTime.Now.Month == DateTime.Month ? "button-active" : "";
	}
}
