@using BlazorDatepicker.Store.Datepicker
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div class=datepicker-container >

        <input type="text" @ref="datePickerInput" @onfocus="ShowCalendar" @onactivate="ChangeCalendarDisplay" @bind="TextInput"/>
        <button class="button button-primary" @onclick="FocusInput">
            <span class="material-icons">
            calendar_month
            </span>
        </button>
        @if(isCalenderShown)
        {   
            <Calendar></Calendar>
        }
</div>

@code {
    [Inject]
    private IState<DatepickerState> CalendarState { get; set; }
    public string TextInput{ get; set; }

    ElementReference datePickerInput;

    private bool isCalenderShown { get; set; } = false;

    protected override void OnInitialized()
    {
        CalendarState.StateChanged += (sender, state) =>
        {
            if(CalendarState.Value.FinalSelectedValue != default(DateTime))
            {
                TextInput = CalendarState.Value.FinalSelectedValue.ToString("MM/dd/yyyy");
            }
            StateHasChanged();
        };
        base.OnInitialized();
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }



    private async Task FocusInput()
    {
        await datePickerInput.FocusAsync();
    }

    private void ChangeCalendarDisplay()
    {
        isCalenderShown = !isCalenderShown;
    }

    private void ShowCalendar()
    {
        isCalenderShown = true;
    }

    private void HideCalendar()
    {
        isCalenderShown = false;
    }

}
